.principal-title{
    text-align: center;
    color: #808080;
  }
  .principal-subtitle{
    text-align: center;
    color: #808080;
    padding-bottom: 30px;
  }
  img {
    height: 62px;
    width: 100px;
    margin: 0 auto;
  }
  
  .item {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 30px;
  }
  .item-card {
    transition: 0.5s;
    cursor: pointer;
    min-height: 300px;
  }
  .card-title {
    text-align: center;
    position: absolute;
    right: 0px;
    top: -5px;
  }
  .bank-image {
    margin-top: 10px;
  }
  .item-card-title {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
    min-height: 35px;
     text-align: center;
  }
  .item-card-title i {
    font-size: 14px;
    transition: 1s;
    cursor: pointer;
    color: #ffa710;
    text-align: center;
  }
  .card-title i:hover {
    transform: scale(1.25) rotate(100deg);
    color: #18d4ca;
  }
  .card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  }
  .card-text {
    font-size: 14px;
    padding-left: 10px;
  }
  
  .card::before,
  .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform 0.3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: "";
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  .card:hover::before,
  .card:hover::after,
  .card:focus::before,
  .card:focus::after {
    transform: scale3d(1, 1, 1);
  }
  